*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}


/* HERO SECTION */

.hero{

    background:#9f2027;

    color:white;

    padding:60px;

    display:flex;

    justify-content:center;
}

.hero-content{

    width:80%;
}

.logo{

    width:120px;

    margin-bottom:20px;
}

.hero h1{

    font-size:70px;

    font-weight:bold;

    margin-bottom:10px;
}

.hero h2{

    color:black;

    margin-bottom:30px;

    font-size:30px;
}

.hero p{

    width:70%;

    line-height:28px;

    margin-bottom:20px;

    font-size:18px;
}


/* SECTION */

.clubs-section{

    padding:60px;
}

.title{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:40px;
}

.triangle{

    width:0;

    height:0;

    border-left:20px solid transparent;

    border-right:20px solid transparent;

    border-bottom:20px solid #9f2027;

    transform:rotate(-90deg);
}

.title h1{

    font-size:50px;

    font-weight:bold;
}


/* FLEXBOX */

.clubs-container{

    display:flex;

    justify-content:space-between;

    flex-wrap:wrap;

    gap:20px;
}

.club-card{

    width:180px;

    text-align:center;
}

.club-card img{

    width:100px;

    margin-bottom:15px;
}

.club-card h3{

    color:#9f2027;

    margin-bottom:10px;
}

.club-card p{

    font-weight:bold;
}


/* FOOTER */

footer{

    background:#9f2027;

    color:white;

    padding:80px 60px;
}

footer h1{

    font-size:45px;

    width:70%;

    line-height:60px;
}


/* RESPONSIVE */

@media(max-width:768px){

    .hero h1{
        font-size:40px;
    }

    .hero h2{
        font-size:22px;
    }

    .hero p{
        width:100%;
    }

    .title h1{
        font-size:35px;
    }

    .clubs-container{
        justify-content:center;
    }

    footer h1{
        width:100%;
        font-size:30px;
        line-height:45px;
    }
}